body {
  font-family: 'PT Sans', sans-serif;
  color: black;
  background-color: #B9D9EB;
  font-size: 1.5vw;
  /*text-align: center;*/
}
h1{
   font-size: 2.5vw;
   text-align: center;
}
h2{
   font-size: 2vw;   
}
img {
  border: 1px solid black;
}
img.selected{
    border: 1px solid yellow;
}